<a href="https://colab.research.google.com/github/LikaAlfi/struktur-data-latihan1/blob/main/setrukturdata1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Deklarasi array menggunakan list
angka = [10, 20, 30, 40, 50]
print ("Array dengan list:", angka)

Array dengan list: [10, 20, 30, 40, 50]

In [ ]:
import array
angka = array.array('i', [10, 20, 30, 40, 50])
print ("Array dengan modul array:", angka)

Array dengan modul array: array('i', [10, 20, 30, 40, 50])

In [3]:
import numpy as np
angka = np.array([10, 20, 30, 40, 50 ])
print ("Array dengan numpy:", angka)

Array dengan numpy: [10 20 30 40 50]

In [ ]:
import numpy as np
angka = np.array([1, 2, 3, 4, 5])
print ("Array satu dimensi:", angka)

Array satu dimensi: [1 2 3 4 5]

In [ ]:
matriks = np.array([[1, 2], [3, 4], [5, 6]])
print ("Array dua dimensi:", matriks)

Array dua dimensi: [[1 2]
 [3 4]
 [5 6]]

In [4]:
array3D = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print ("Array tiga dimensi:", array3D)

Array tiga dimensi: [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [ ]:
# Deklarasi array kosong
angka = []

# Instalisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# Akses elemen
print ("Elemen pertama:", angka [0])
print ("Elemen terakhir:", angka [-1])

# menambhakan elemen baru
angka.append(60)
print ("Setelah append:", angka)

# menghapus elemen
angka.remove(30)
print ("Setelah remove:", angka)

# iterasi array
for nilai in angka:
    print ("Nilai:", nilai)

Elemen pertama: 10
Elemen terakhir: 50
Setelah append: [10, 20, 30, 40, 50, 60]
Setelah remove: [10, 20, 40, 50, 60]
Nilai: 10
Nilai: 20
Nilai: 40
Nilai: 50
Nilai: 60

In [ ]:
print("Elemen pertama:", angka [0])

Elemen pertama: 10

In [ ]:
angak = np.append (angka, 60)
print ("Setelah penambahan:", angka)

Setelah penambahan: [10, 20, 40, 50, 60]

In [ ]:
angka = np.delete (angka, 2) # Menghapus elemen pada indeks ke-2
print ("Setelah penghapusan:", angka)

Setelah penghapusan: [10 20 50 60]

In [ ]:
print ("Jumlah elemen:", len(angka))

Jumlah elemen: 4

In [ ]:
# Deklarasi array kosong
data = []

# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# Menbampilkan isi array
print("Isi array angka:", angka)

Isi array angka: [10, 20, 30, 40, 50]

In [ ]:
# Latihan 1
# Membuat array yang berisi NPM diikuti NPM sebelum atau sesudah

# Deklarasi array kosong
data = []

# Inisialisasi array dengan elemen
NPM = [2410506010, 2410506011, 2410506012, 2410506013, 2410506014]

# Menampilkan isi array
print("Isi array NPM:", NPM)

Isi array NPM: [2410506010, 2410506011, 2410506012, 2410506013, 2410506014]

In [ ]:
# mengakses elemen array
print("Elemen pertama:", angka[0]) # elemen pertama
print("Elemen terakhir:", angka[-1]) # elemen terakhir

Elemen pertama: 10
Elemen terakhir: 50

In [ ]:
# menambah elemen menggunkan append()
angka.append(60)
print("Array setelah penambahan elemen:", angka)

# menambahkan elemen menggunkan insert()
angka.insert(2, 25) # menyisikan 25 di indeks ke-2
print("Array setelah penambahan elemen dengan insert:", angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]
Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]

In [ ]:
# menghapus elemen menggunkan remove()
angka.remove(25)
print("Array setelah menghapus elemen 25:", angka)

#menghapus elemen menggunakan pop()
angka.pop(2) # menghapus elemen pada indeks ke-2
print("Array setelah menghapus elemen pada indeks ke 2:", angka)

Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen pada indeks ke 2: [10, 20, 40, 50, 60]

In [ ]:
# mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pertama:", angka)

Array setelah mengubah elemen pertama: [100, 20, 40, 50, 60]

In [ ]:
# Ltihan 2
# menambahkan nilai NPM
NPM[0] = 241050601011
print("Array setelah mengubah elemen pada indeks 0:", NPM)

# Menghapus elemen pertama pada NPM
NPM.pop(0)
print("Array setelah menghapus elemen pertama:,", NPM)

Array setelah mengubah elemen pada indeks 0: [241050601011, 2410506011, 2410506012, 2410506013, 2410506014]
Array setelah menghapus elemen pertama:, [2410506011, 2410506012, 2410506013, 2410506014]

In [ ]:
angka = [10, 20, 30, 40]

for nilai in angka:
  print("Nilai:", nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

In [ ]:
# Latihan 3
fakultas = ['FT', 'FE', 'FAPERTA', 'FISIP', 'FKIP']

for nama in fakultas:
  print("Fakultas:", nama)

Fakultas: FT
Fakultas: FE
Fakultas: FAPERTA
Fakultas: FISIP
Fakultas: FKIP

In [ ]:
angka = [10, 20, 30, 40]

print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum:", min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum: 10

In [ ]:
# latihan 4
harga = [1000, 2000, 3000, 4000, 5000]

print("Jumlah total:", sum(harga))

Jumlah total: 15000

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
    print(baris)

Isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# latihan 5
matriks1 = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("Isi array 2D:")
for baris in matriks1:
    print(baris)

Isi array 2D:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
# mengakses elemen pada baris ke-1, kolom ke-2 (indeks [0][1])
print("Elemen pada baris 1, kolom 2:", matriks [0][1])

# mengakses elemen terakhir (baris ke-3, kolom ke-3)
print("Elemen terakhir:", matriks [-1][-1])

Elemen pada baris 1, kolom 2: 2
Elemen terakhir: 9

In [ ]:
# latihan 6
print("Elemen pada baris ke 2, kolom ke 4:", matriks1 [1][3])

Elemen pada baris ke 2, kolom ke 4: 8

In [ ]:
# Menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru:", matriks)

# menambahkan elemen pada baris ke-2\
matriks[1].append(99)
print("Array setelah menambahkan elemen pada baris ke-2:", matriks)

Array setelah menambahkan baris baru: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
Array setelah menambahkan elemen pada baris ke-2: [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]

In [ ]:
# latihan 7
matriks1.append([3, 4, 5, 6])
for baris in matriks1:
    print(baris)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[3, 4, 5, 6]

In [ ]:
# mengubah elemen pada baris ke-3, kolom ke-2
matriks[2][2] = 88
print("Array setelah mengubah elemen baris ke-3, kolom ke-2:", matriks)

Array setelah mengubah elemen baris ke-3, kolom ke-2: [[1, 2, 3], [4, 5, 6, 99], [7, 8, 88], [10, 11, 12]]

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# menghapus elemen tertentu dari baris ke-1
matriks[0].remove(2)
print("Array setelah menghapus elemen pada baris ke-1:", matriks)

# menghapus elemen pada indeks tertentu dari baris ke-3
matriks[1].pop(1)
print("Array setelah menghapus elemen pada indeks ke-2 baris ke-3:", matriks)

Array setelah menghapus elemen pada baris ke-1: [[1, 3], [4, 5, 6], [7, 8, 9]]
Array setelah menghapus elemen pada indeks ke-2 baris ke-3: [[1, 3], [4, 6], [7, 8, 9]]

In [ ]:
# latihan 8
# deklarasi array 2D
matriks1 = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

matriks1[-1].pop(3)
print("Array setelah menghapus elemen pada baris terakhir:", matriks1)

Array setelah menghapus elemen pada baris terakhir: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11]]

In [ ]:
# latihan 9
matriks1[-1][-1] = 13
print("Array setelah mengubah elemen baris ke-4, kolom ke-4:", matriks1)

Array setelah mengubah elemen baris ke-4, kolom ke-4: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [3, 4, 5, 13]]

In [ ]:
belanja = ["beras", "gula", "minyak"]
belanja.append("teh")
belanja.remove("gula")
print("Daftar belnja terbaru:", belanja)

Daftar belnja terbaru: ['beras', 'minyak', 'teh']

In [ ]:
# latihan 10
belanja = ["PC jeno", "PC jaehyun", "LIght stick nct dream", "tiket tds"]
belanja.append("tiket momentum")
belanja.remove("PC jaehyun")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['PC jeno', 'LIght stick nct dream', 'tiket tds', 'tiket momentum']